.jumbotronHeaderImg {
    background-image: url("../assets/code.png");
    background-size: cover;
}

div.card {
    text-align: center;
} 

ul {
/* List-style-type: none removes bullets from list */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.card-img {
    width: 100%;
    object-fit: cover;
    text-align: center;
}

/* Media queries */

@media (max-width: 34em) {
    span {
        font-size: 1.5rem;
    }

    .jumbotron {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .jumboHeader {
        font-size: 1.75rem;
    }
    
    div.team-area {
        display: flex;
        flex-direction: column;

    }
    
    div.card {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 34.1em ) and (max-width: 62em) {  
    .jumbotron {
        padding: 80px;
    }

    div.team-area {
        display: flex;
        flex-direction: column;

    }
    
    div.card {
        margin-left: 100px;
        margin-right:100px;
    }
}

@media (min-width: 62.1em) and (max-width: 85em) {  
    .jumbotron {
        padding: 80px;
    }
    
    div.team-area {
        display: flex;
        flex-direction: column;

    }
    
    div.card {
        margin-left: 180px;
        margin-right:180px;
    }
}

@media (min-width: 85.1em) {  
    .jumbotron {
        padding: 60px;
    }
    
    div.row {
        margin-bottom: 50px;
    }

    div.card {
        margin-left: 5px;
        margin-right:5px;
        width: 280px;
    }
}
